.container {
  width: 120rem;
  margin: 5.4rem 5.8rem;
}

.grid {
  display: grid;
  grid-template-rows: 40rem 1rem 1fr 4.8rem;
}

.header {
  // height: 40rem;
  padding: 2rem 6rem;
  // background: var(--color-grey-dark-1);
  background-image: linear-gradient(
      to left bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.85)
    ),
    url(../Images/netflixroulette_bg.png);
  background-size: cover;
  background-position: top;

  &__logo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 5.7rem;
  }

  &__logo {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.4rem;

    color: var(--color-primary);

    &--sub {
      font-weight: 400;
    }
  }

  &__search {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 3.8rem;

    margin: auto 6rem;
  }
}

.footer {
  background: var(--color-grey-dark-2);

  display: flex;
  align-items: center;
  justify-content: center;

  &__logo--main,
  &__logo--sub {
    font-family: inherit;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.4rem;

    color: var(--color-primary);
  }

  &__logo--sub {
    font-weight: 400;
  }
}

.search-results__wrapper {
  background: var(--color-grey-dark-1);
}

.search-results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin: 2rem 6rem;
}

.movies {
  grid-column: 1 / span 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5.5rem;
  row-gap: 5rem;
}
